<p id="notice"><%= notice %></p>

<p>
  <strong>Sponsor title:</strong>
  <%= @amendment.sponsor_title %>
</p>

<%= link_to 'Edit', edit_amendment_path(@amendment) %> |
<%= link_to 'Back', amendments_path %>
